/* =========================
   ESTILO GERAL
========================= */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* =========================
   CONTAINER DA PÁGINA
========================= */
.pagina {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* =========================
   TÍTULO
========================= */
h1 {
    margin-bottom: 20px;
}

/* =========================
   FORMULÁRIO
========================= */
form {
    background-color: white;
    padding: 20px;
    width: 320px;

    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
}

/* =========================
   INPUTS
========================= */
form input {
    margin-bottom: 12px;
    padding: 10px;
    font-size: 14px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

form input:focus {
    outline: none;
    border-color: #4f46e5;
}

/* =========================
   BOTÃO
========================= */
form button {
    padding: 10px;
    background-color: #4f46e5;
    color: white;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #3b34c4;
}

/* =========================
   TAREFA (CARD)
========================= */
.tarefa {
    margin-top: 20px;
    width: 320px;
    background-color: white;
    padding: 15px;

    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);

    text-align: center;
}

.tarefa h3 {
    margin-bottom: 5px;
}

.tarefa .data {
    font-size: 13px;
    color: #667;
}/* =========================
   HOME
========================= */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* TEXTO */
.boas-vindas {
    font-size: 18px;
    color: #333;
}

/* LINK COMO BOTÃO */
.botao-link {
    text-decoration: none;
    background-color: #4f46e5;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: bold;

    transition: background-color 0.3s;
}

/* HOVER */
.botao-link:hover {
    background-color: #3b34c4;
}






