
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.pagina {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


h1 {
    margin-bottom: 20px;
}


form {
    background-color: white;
    padding: 20px;
    width: 320px;

    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: column;
}


form input {
    margin-bottom: 12px;
    padding: 10px;
    font-size: 14px;

    border: 1px solid #ccc;
    border-radius: 5px;
}

form input:focus {
    outline: none;
    border-color: #b546e5;
}


form button {
    padding: 10px;
    background-color: #c546e5;
    color: white;

    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #7f2bc9;
}


.tarefa {
    margin-top: 20px;
    width: 320px;
    background-color: white;
    padding: 15px;

    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.08);

    text-align: center;
}

.tarefa h3 {
    margin-bottom: 5px;
}

.tarefa .data {
    font-size: 13px;
    color: #667;
}
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.boas-vindas {
    font-size: 18px;
    color: #333;
}


.botao-link {
    text-decoration: none;
    background-color: #ed3cc4;
    color: white;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: bold;

    transition: background-color 0.3s;
}


.botao-link:hover {
    background-color: #dc57ed;
}






